.show-products a{
    background-color: #6c4996 !important;
    text-decoration: none !important;
    color: #fff;
}

.show-products a:hover{
    color: #fff;
}




body{
    background-image: linear-gradient(to right, #3093ce, #035c92);
}

