

.heading-of-website{
    background-image: url('../images/sdt-home.jpg');
    height: 670px;
    background-size: cover;
}

.nav-item hr{
  background-color: #399cd7;
  opacity: .7;
}

.carousel {
  margin: 40px 0;
}


.carousel-image{
  margin: 0 auto;
  display: flex;
}

.carousel-indicators{
  margin-bottom: -3rem !important;
}

.carousel-item{
  margin: 0 auto;
}

.main-h{
    position: relative;
    text-align: center;
    left: 0%;
    transform: translate(0%);
    font-weight: 500;
}

.main-h2{
    position: relative;
    left: 0;
    text-align:center;
    transform: translate(0);
    font-weight: 500;
    letter-spacing: 3px;
    color: #6c4996 !important;
}

.ai {
	width: 468px;
  padding: 31px;
	border: 1px solid #f59e05;
}


.number, .number2{
  position: relative;
  z-index: 1;
}

.number p {
    height: 35px;
	font-size: 4rem;
	position: relative;
	color: #f59e05;
	top: 0;
	left: 1rem;
}
.number2 p {
    height: 35px;
	font-size: 4rem;
	position: relative;
	color: #f59e05;
	top: 0;
	left: 42rem;
}

.para {
	margin-left: 14%;
}

._1st-row, ._2nd-row, ._3rd-row{
  display: flex;
}
.m-svg-p {
	position: absolute;
	opacity: 0;
	color: #fff;
	left: 8rem;
	top: 11rem;
	text-align: center;
}

.p-name-hover{
  position:relative;
}
.p-name-hover:hover .m-svg-p{
  opacity: 1;
}


._2nd-p{
    margin: 5% 0;
    min-height: 1000px;
    background-image: linear-gradient(to left, #3093ce, #035c92);
    padding-bottom: 1.5rem;    
}

a .show-more-home {
	position: relative;
	left: 35.3%;
	margin-top: 5%;
	background-color: #6c4996;
	color: #fff;
}

a .show-more-home:hover{
  color: #fff;
}

  .ai h4{
    color: #565656;
    position: relative;
  }
@media(max-width:1250px){
  #triangle-bottomleft, #triangle-bottomright, #triangle-bottommiddle{
    display: none;
  }
  .heading-of-website{
    background-size: cover;
  }
}
main{
  overflow: hidden;
}
  #triangle-bottomleft {
    pointer-events: none;
   transform: rotateZ(120deg) translateX(4%) translateY(-377%);
    z-index: -1;
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 99px solid #000;
    border-right: 142px solid transparent;
    top: 42%;
    left: 0;
    border-left: 100px solid transparent;
    /* -------- */
    opacity: 0;
    transition: 1s;
    /* --------- */
  }
  #triangle-bottomright {
    pointer-events: none;
    z-index: -1;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 104px solid #000;
    border-right: 143px solid transparent;
    border-left: 100px solid transparent;
    /* ----------- */
    top: -82%;
left: 85%;
transform: rotate(-57deg);
transition: 1s;
opacity: 0;
  }

  #triangle-bottommiddle {
    pointer-events: none;
    z-index: -1;
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 100px solid #000;
    border-right: 100px solid transparent;

    /* ---------- */
    top: 21%;
    opacity: 0;
left: 107%;
transform: rotate(225deg);
transition: 1s;
  }
  /* ------------------------------------------ */
  .ai:hover #triangle-bottommiddle{
top: 21%;
left: -9.1%;
transform: rotatex(-225deg);
transform: rotatey(-225deg);
transform: rotateZ(-135deg) scale(123%);
opacity: 1;

  }
  .ai:hover #triangle-bottomright{
    top: 0%;
    left: 0%;
    transform: rotate(0deg);
    opacity: 1;
      }
      .ai:hover #triangle-bottomleft {
        opacity: 1;
        transform: rotateZ(0deg) translateX(0%) translateY(0%);
      }
/* -------------------------------------------- */
  .ai{
    position: relative;
    z-index: 0;
  }
  .ai:hover{
    /* background-color: #6c4996; */
    /* background-color: #0f6ba3; */
    background-image: linear-gradient(to right, #3093ce, #035c92);

    color: #fff;
  }

.ai p{
  position: relative;
  z-index: 2;
}

.ai:hover p{
  color: #fff;
}
.ai:hover h4{
  color: #f59e05;
}





@media(max-width:1000px){
  .svg-p1, .svg-p2, .svg-p3, .svg-p4, .svg-p5, .svg-p6{
    display: none;
  }
}

.r1{
  animation: rotatetr1 forwards 1.5s;
}

.l1{
  animation: rotatetr2 1.4s forwards;
}

/* 
.svg-p1 {
	position: absolute;
	top: 157px;
	left: 118px;
	text-align: center;
  color: transparent;
}

.svg-p2 {
  position: absolute;
  top: 157px;
  left: 502px;
  text-align: center;
  color: transparent;
}

.svg-p3{
  position: absolute;
  top: 157px;
  left: 893px;
  text-align: center;
  color: transparent;
}

.svg-p4 {
	position: absolute;
	top: 418px;
	left: 314px;
	text-align: center;
  color: transparent;
}
.svg-p5{
  position: absolute;
  top: 418px;
  left: 704px;
  text-align: center;
  color: transparent;
}

.svg-p6 {
	position: absolute;
	top: 705px;
	left: 502px;
	text-align: center;
  color: transparent;
}

 */


.svg-hover:hover{
  cursor: pointer;
  opacity: .3;
}








@media(min-width:200px) and (max-width:300px){
  .nav-img {
    width: 33% !important;
  }
  .number2 p{
    left: 11.7rem;
  }
  ._2nd-p{
    min-height: 350px;
  }
 
  .show-more-home {
    position: relative;
    left: 28.5%;
    margin-top: 5%;
}
.footer p {
  margin-left: 5% !important;
  text-align: center !important;
}

.heading-of-website {
  height: 368px;
}
.carousel-image{
  width: 300px;
} 

footer{
  height: 300px;
}
.links2 {
  left: 28% !important;
  top: 109% !important;
}

.heading-of-website{
  background-position: -77.5%;
}
}

@media(min-width:300px) and (max-width:359px){

  .heading-of-website {
	height: auto;
	padding-bottom: 2rem;
}
  .carousel-image{
    width: 300px;
  } 
   .nav-img {
    width: 33% !important;
  }
  .number2 p{
    left: 14rem;
  }
  ._2nd-p{
    min-height: 350px;
  }

  .show-more-home {
    position: relative;
    left: 28.5%;
    margin-top: 5%;
}
.footer p {
  margin-left: 5% !important;
  text-align: center !important;
}

footer{
  height: 300px;
}
.links2 {
  left: 28% !important;
  top: 109% !important;
}

.heading-of-website{
  background-position: -83%;
}
}

@media(min-width:360px) and (max-width:400px){
  .heading-of-website {
	height: auto;
	padding-bottom: 2rem;
}
  .carousel-image{
    width: 300px;
  } 
   .number2 p{
    left: 17rem;
  }
  ._2nd-p{
    min-height: 400px;
  }
  
  .show-more-home {
    position: relative;
    left: 30.5%;
    margin-top: 5%;
}
.footer p {
  margin-left: 5% !important;
  text-align: center !important;
}

footer{
  height: 300px;
}
.links2 {
  left: 30% !important;
  top: 109% !important;
}

.heading-of-website {
  background-position: 49%;
}
.nav-img {
	width: 33% !important; 
}
}

@media(min-width:400px) and (max-width:460px){
  .number2 p{
    left: 20rem;
  }
  ._2nd-p{
    min-height: 440px;
  }
  
  .show-more-home {
    position: relative;
    left: 32.5%;
    margin-top: 5%;
}
.heading-of-website {
	height: auto;
	padding-bottom: 2rem;
}
.carousel-image{
  width: 300px;
} 

.footer p {
  margin-left: 5% !important;
  text-align: center !important;
}

footer{
  height: 300px;
}
.links2 {
  left: 33% !important;
  top: 109% !important;
}

.heading-of-website {
  background-position: 49.4%;
}
.nav-img {
	width: 33% !important; 
}
}

@media(min-width:460px) and (max-width:520px){
  .heading-of-website {
	height: auto;
	padding-bottom: 2rem;
}
  .carousel-image{
    width: 300px;
  } 
  .number2 p{
    left: 23rem;
  }
  ._2nd-p{
    min-height: 480px;
  }
  
  .show-more-home {
    position: relative;
    left: 34.4%;
    margin-top: 5%;
}
.footer p {
  margin-left: 5% !important;
  text-align: center !important;
}

footer{
  height: 300px;
}
.links2 {
  left: 36% !important;
  top: 109% !important;
}

.heading-of-website {
  background-position: 49.4%;
}
.nav-img {
	width: 33% !important; 
}
}

@media(min-width:520px) and (max-width:570px){
  .heading-of-website {
	height: auto;
	padding-bottom: 2rem;
}
  .carousel-image{
    width: 300px;
  } 
   .number2 p{
    left: 26rem;
  }
  ._2nd-p{
    min-height: 540px;
  }
  
  .show-more-home {
    position: relative;
    left: 35.4%;
    margin-top: 5%;
}
.footer p {
  margin-left: 1.5% !important;
  text-align: center !important;
}

footer{
  height: 300px;
}
.links2 {
  left: 38% !important;
  top: 109% !important;
}
.cpr {
  left: 2%;
  position: relative;
}

.heading-of-website {
  background-position: 49.4%;
}
.nav-img {
	width: 33% !important; 
}
}

@media(min-width:570px) and (max-width:640px){
  .heading-of-website {
	height: auto;
	padding-bottom: 2rem;
}
  .carousel-image{
    width: 300px;
  } 
   .number2 p{
  left: 27rem;
}
._2nd-p{
  min-height: 580px;
}

.show-more-home {
  position: relative;
  left: 35.9%;
  margin-top: 5%;
}
.footer p {
margin-left: 1.5% !important;
text-align: center !important;
}

.footer-img {
  width: 30%;
  position: relative;
  left: 35%;
}
footer{
height: 300px;
}
.links2 {
left: 38% !important;
top: 109% !important;
}
.cpr {
left: 2%;
position: relative;
}
.heading-of-website {
background-position: 49.4%;
}
.nav-img {
width: 33% !important; 
}
}

@media(min-width:640px) and (max-width:700px){
  .heading-of-website {
	height: auto;
	padding-bottom: 2rem;
}
  .carousel-image{
    width: 330px;
  } 
    a .show-more-home {
    left: 36%;
  }
  .number2 p{
    left: 27rem;
  }
  ._2nd-p{
    min-height: 580px;
  }
 
  .show-more-home {
    position: relative;
    left: 36.1%;
    margin-top: 5%;
  }
  .footer p {
  margin-left: 1.5% !important;
  text-align: center !important;
  }

  .footer-img {
    width: 30%;
    position: relative;
    left: 35%;
  }
  footer{
  height: 300px;
  }
  .links2 {
  left: 38% !important;
  top: 109% !important;
  }
  .cpr {
  left: 2%;
  position: relative;
  }

  .heading-of-website {
  background-position: 49.4%;
  }
  .nav-img {
  width: 33% !important; 
  }
}

@media(min-width:700px) and (max-width:760px){ 
  .heading-of-website {
	height: auto;
	padding-bottom: 2rem;
}
  .carousel-image{
    width: 330px;
  } 
   a .show-more-home {
    left: 36%;
  }
  .navbar-toggler{
    width: 0 !important;
    font-size: 1.5rem !important;
}
  .number2 p{
  left: 27rem;
}
._2nd-p{
  min-height: 580px;
}

.show-more-home {
  position: relative;
  left: 36.1%;
  margin-top: 5%;
}
.footer p {
margin-left: 1.5% !important;
text-align: center !important;
}

.footer-img {
  width: 30%;
  position: relative;
  left: 35%;
}
footer{
height: 300px;
}
.links2 {
left: 38% !important;
top: 109% !important;
}
.cpr {
left: 2%;
position: relative;
}

.heading-of-website {
background-position: 49.4%;
}
.nav-img {
width: 33% !important; 
}
}

@media(min-width:760px) and (max-width:820px){
  .heading-of-website {
	height: auto;
	padding-bottom: 2rem;
}
  .carousel-image{
    width: 330px;
  } 
  a .show-more-home {
    left: 36%;
  }
  .navbar-toggler{
    width: 0 !important;
    font-size: 1.5rem !important;
}
  .number2 p{
  left: 38rem;
}
._2nd-p{
  min-height: 680px;
}

.show-more-home {
  position: relative;
  left: 38%;
  margin-top: 5%;
}
.footer p {
margin-left: 1.5% !important;
text-align: center !important;
}

.footer-img {
  width: 30%;
  position: relative;
  left: 35%;
}
footer{
height: 300px;
}
.links2 {
left: 41% !important;
top: 109% !important;
}
.cpr {
left: 2%;
position: relative;
}

.heading-of-website {
background-position: 49.4%;
}
.nav-img {
width: 25% !important; 
}
}

@media(min-width:820px) and (max-width:880px){
  .heading-of-website {
	height: auto;
	padding-bottom: 2rem;
}
  .carousel-image{
    width: 330px;
  } 
   a .show-more-home {
    left: 38%;
  }
  .navbar-toggler{
    width: 0 !important;
    font-size: 1.5rem !important;
}
  .number2 p{
  left: 38rem;
}
._2nd-p{
  min-height: 680px;
}

.show-more-home {
  position: relative;
  left: 38%;
  margin-top: 5%;
}
.footer p {
margin-left: 1.5% !important;
text-align: center !important;
}

.footer-img {
  width: 30%;
  position: relative;
  left: 35%;
}
footer{
height: 300px;
}
.links2 {
left: 41% !important;
top: 109% !important;
}
.cpr {
left: 2%;
position: relative;
}

.heading-of-website {
background-position: 49.4%;
}
.nav-img {
width: 25% !important; 
}
}

@media(min-width:880px) and (max-width:999px){
  .heading-of-website {
	height: auto;
	padding-bottom: 2rem;
}
  .carousel-image{
    width: 330px;
  } 
   a .show-more-home {
    left: 38%;
  }
  .navbar-toggler{
    width: 0 !important;
    font-size: 1.5rem !important;
}
  .number2 p{
  left: 38rem;
}
._2nd-p{
  min-height: 680px;
}

.show-more-home {
  position: relative;
  left: 38%;
  margin-top: 5%;
}
.footer p {
margin-left: 1.5% !important;
text-align: center !important;
}

.footer-img {
  width: 30%;
  position: relative;
  left: 35%;
}
footer{
height: 300px;
}
.links2 {
left: 41% !important;
top: 109% !important;
}
.cpr {
left: 2%;
position: relative;
}

.heading-of-website {
background-position: 49.4%;
}
.nav-img {
width: 25% !important; 
}
}

@media(min-width:1000px) and (max-width:1250px){
  a .show-more-home {
    left: 40%;
  }
  .number2 p{
    left: 53.8rem;
  }
  .heading-of-website {
    background-position: 46%;
}

@media screen {
  
}



.show-more-home {
  position: relative;
  left: 40.1%;
  margin-top: 5%;
}
.links2 {
  left: -2% !important;
  }
  ._2nd-p{
    max-height: 700px;
  }
  .svg-p1 {
    position: absolute;
    top: 113px;
    color: transparent;
    left: 70px;
    text-align: center;
}

.svg-p2 {
  position: absolute;
  top: 113px;
  color: transparent;
  left: 354px;
  text-align: center;
}

.svg-p3{
  position: absolute;
  top: 113px;
  color: transparent;
  left: 630px;
  text-align: center;
}

.svg-p4 {
  position: absolute;
  top: 308px;
  color: transparent;
  left: 215px;
  text-align: center;
}

.svg-p5{
  position: absolute;
  top: 308px;
  color: transparent;
  left: 498px;
  text-align: center;
}

.svg-p6 {
  position: absolute;
  top: 502px;
  color: transparent;
  left: 352px;
  text-align: center;
}

}


/*

  .carousel-container {
    margin: 0 auto;
    width: 250px;
    height: 200px;
    position: relative;
    perspective: 1000px;
  }
  
  .carousel {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
  }
  
  .item {
    display: block;
    position: absolute;
    background: #000;
    width: 250px;
    height: 200px;
    line-height: 200px;
    font-size: 5em;
    text-align: center;
    color: #FFF;
    border-radius: 10px;
  }
  
  .a {
    transform: rotateY(0deg) translateZ(250px);
    background: #ed1c24;
  }
  .b {
    transform: rotateY(60deg) translateZ(250px);
    background: #0072bc;
  }
  .c {
    transform: rotateY(120deg) translateZ(250px);
    background: #39b54a;
  }
  .d {
    transform: rotateY(180deg) translateZ(250px);
    background: #f26522;
  }
  .e {
    transform: rotateY(240deg) translateZ(250px);
    background: #630460;
  } 
  .f {
    transform: rotateY(300deg) translateZ(250px);
    background: #8c6239;
  }
  
  .next, .prev {
    color: #444;
    position: absolute;
    top: 100px;
    padding: 1em 2em;
    cursor: pointer;
    background: #CCC;
    border-radius: 5px;
    border-top: 1px solid #FFF;
    box-shadow: 0 5px 0 #999;
    transition: box-shadow 0.1s, top 0.1s;
  }
  .next:hover, .prev:hover { color: #000; }
  .next:active, .prev:active {
    top: 104px;
    box-shadow: 0 1px 0 #999;
  }
  .next { right: 5em; }
  .prev { left: 5em; }


  .carousel-indicators{
    bottom: 15% !important;
  }
*/


















